body {
    margin: 0;
    background-color: gray;
} 
* {
    color: white;
}
.container {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background {
    background-image: url("./images/ExProLogo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}
.moto {
    justify-content: right;
}
nav{
    display: flex;
     justify-content: center;
     background-color: rgb(29, 28, 28);
}
a{
    text-decoration: none;
}



footer {
    text-align: center;
}